<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Way Flights</title>
</head>
<body>
    <h1>Departure Flights</h1>
    <form action="/SortOneWayFlights" method="POST">
        <label for="sort_option">Order By:</label>
        <select name="sort_option" id="sort_option">
            <option value="asc">Ascending Price</option>
            <option value="desc">Descending Price</option>
            <option value ="default">Default</option>
            <option value ="time">Dept Time</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Departure Airport</th>
                <th>Destination Airport</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% if flights %}
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.Departure_Date }}</td>
                    <td>{{ flight.Arrival_Date }}</td>
                    <td>{{ flight.Source_Airport_Code }}</td>
                    <td>{{ flight.Destination_Airport_Code }}</td>
                    <td>{{ flight.Departure_Time }}</td>
                    <td>{{ flight.Arrival_Time }}</td>
                    <td>${{flight.Price}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="7">No flights found</td></tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
