<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroQuest!</title>
</head>
<body>
    <h2>Welcome to AeroQuest!</h2>
    <form id="flightForm" method="post">
        <label for="departure_date">Enter Departure Date (MM/DD/YYYY):</label>
        <input type="text" id="departure_date" name="departure_date">
        <label for="departure_airport">Enter Departure Airport Code or Name:</label>
        <input type="text" id="departure_airport" name="departure_airport">
        <label for="destination_airport">Enter Destination Airport Code or Name:</label>
        <input type="text" id="destination_airport" name="destination_airport">

        <div class="submit-methods">
            <button type="submit" onclick="setAction('roundTrip')">Round Trip</button>
            <button type="submit" onclick="setAction('oneWay')">One Way</button>
    </form>

    <script>
        function setAction(tripType) {
            var form = document.getElementById('flightForm');
            if (tripType === 'roundTrip') {
                form.action = '/RoundTripFlights';
            } else {
                form.action = '/OneWayFlights';
            }
        }
    </script>
</body>

</html>
